@charset "UTF-8";



* { font-family: Montserrat,HelveticaNeue,Helvetica Neue,sans-serif,Montserrat,HelveticaNeue,Helvetica Neue,sans-serif;
    margin: 0 auto;
    padding: 0;
    border: none;
    box-sizing: border-box;
    vertical-align: middle;
    letter-spacing: 1.25px;
    
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}
 
/* .container {max-width: 1380px;
   
    margin:0 45px auto;} */

button {cursor: pointer;}


.temple {font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol ;}

.flex {display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
} 

::placeholder {
  color: gray;
  opacity: 0,6;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color: gray;
  opacity: 0,6;
 }

 :-ms-input-placeholder { color: gray;
  opacity: 0,6;}

/* .material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 10,
  'GRAD' -25,
  'opsz' 10
}

.material-symbols-sharp {
    font-variation-settings:
    'FILL' 0,
    'wght' 100,
    'GRAD' -25,
    'opsz' 20
  }

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 100,
  'GRAD' -25,
  'opsz' 20
} */
.fa-map-marker:before {
  content: "\f041";
}

.fa-phone:before {
  content: "\f095";
}

.fa-envelope-o:before {
  content: "\f003";
}

