@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    vertical-align: middle;
}

ul,
li {list-style-type: none;
   
   
}

a {
    text-decoration: none;
}